header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#options > p {
    margin: 0px;
}

header > div:first-child {
    display: grid;
    grid-template-columns: repeat(2, max-content);
}

header > div:first-child > h1 {
    margin: 0px;
}

#options {
    display: grid;
    grid-template-columns: repeat(5, max-content);

    gap: 15px;
}

#options > p+p{
    color: rgb(107, 107, 107);
}

#selection { 
    position: relative;
    background-position: 0px -250px;
    height: 500px;
    background-size: cover;
    background-image: url(../images/emotions-3490223_1280.jpg);
}

#inside {
    display: grid;
    grid-template-columns: repeat(7, max-content);

    gap: 15px;
}

#inside > p {
    margin: 0px;
}

.another {
    height: 350px;

    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
}

.shoes {
    position: relative;
    background-position: 0px -75px;
    background-size: cover;
    background-image: url(../images/paul-gaudriault-a-QH9MAAVNI-unsplash.jpg);
}

.watches {
    position: relative;
    background-position: -50px 0px;
    background-size: cover;
    background-image: url(../images/hunters-race-Vk3QiwyrAUA-unsplash.jpg);
}

.handbags {
    position: relative;
    background-position: -50px;
    background-size: cover;
    background-image: url(../images/content-pixie-ZB4eQcNqVUs-unsplash.jpg);
}

.item-card {
    display: grid;
    gap: 15px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}
